CREATE DATABASE QLTV
GO

USE QLTV
GO

CREATE TABLE SACH
(
	MaSach NVARCHAR(20) PRIMARY KEY,
	TenSach NVARCHAR (50) DEFAULT N'Tên Sách',
	TheLoai NVARCHAR (50) DEFAULT N'Thể Loại',
	TacGia NVARCHAR (50) DEFAULT N'Tác Giả',
	TinhTrang NVARCHAR (50) DEFAULT N'Tinh Trạng',
	SoLuong INT
)

INSERT INTO SACH VALUES ('S01',N'Giải tích 12',N'Toán Học',N'Trần Văn Hạo',N'Còn',20)
INSERT INTO SACH VALUES ('S02',N'Vật Lý 12',N'Vật Lý Học',N'Lương Duyên Bình',N'Còn',5)

CREATE TABLE DOCGIA
(
	MaDG NVARCHAR(20) PRIMARY KEY,
	TenDG NVARCHAR (50) DEFAULT N'Tên đọc giả',
	DiaChi NVARCHAR (50) DEFAULT N'Địa chỉ',
	Email NVARCHAR (50) DEFAULT N'Email',
	SDT NVARCHAR (20)
)
INSERT INTO DOCGIA VALUES ('DG01',N'Nguyễn Văn Nam',N'Hà Nội',N'nguyenvannam@gmail.com','0985645844')
INSERT INTO DOCGIA VALUES ('DG02',N'Nguyễn Văn Hân',N'Hà Nội',N'nguyenvanhan@gmail.com','0975648922')

CREATE TABLE PHIEUMUON
(
	MaPM NVARCHAR(20),
	MaSach NVARCHAR (20) FOREIGN KEY REFERENCES SACH(MaSach),
	MaDG NVARCHAR (20) FOREIGN KEY REFERENCES DOCGIA(MaDG),
	Ngay NVARCHAR (20)
	PRIMARY KEY (MaPM)
)
INSERT INTO PHIEUMUON VALUES ('PM01',N'S01',N'DG02','12/01/2021')


DROP TABLE DOCGIA
SELECT * FROM DOCGIA
SELECT SUM(SoLuong) FROM SACH

SELECT COUNT(MaDG) FROM PHIEUMUON